.allSectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1450px; /* Optional: Set a max-width to control the container width */
  height: fit-content; /* TODO set to 100vh or add height as porps to the component */
  min-height: 100vh;

  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 90px;

  background-color: aquamarine;
}

.sectionContainer {
  height: 100vh; /* TODO: fit content ???*/
  background-color: red;
  width: 95%;
  padding: 0 5px;
}
