.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: brown;
  z-index: 1000; /*  z-index is used to specify the stack order of an element */

  display: flex;
  flex-direction: row;
  height: max-content;
}

.navlist {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.navitem:hover {
  opacity: 0.7;
}

.navLogo {
  margin: 0 20px;
  padding: 10px 0;
}

.buttoncontainer {
  margin-left: auto; /* Pushes the button to the right */
  padding-right: 2vw;
  color: white;
  justify-self: end;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.navbutton {
  background-color: rgb(216, 97, 97);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
