.navbar {
  position: fixed;
  top: 0;
  z-index: 1000; /*  z-index is used to specify the stack order of an element */
  background-color: brown;

  width: 100%;
  min-height: 80px;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0 40px;
}

.menuContainer {
  display: flex;
  flex: wrap;
  width: 100%;
  max-width: 1800px;
  /* height: 9vh; */
}

.leftMenu {
  display: flex;
  flex: 1 1 auto;
  width: 40% !important;
  float: left;
  background-color: cadetblue;
  min-height: 20px;
}

.centerMenu {
  display: flex;
  flex: 1 1 auto;
  width: 8%;
  background-color: yellow;
  padding: 0 20px;
}

.rightMenu {
  display: flex;
  flex: 1 1 auto;
  width: 35%;
  background-color: purple;
  min-height: 20px;
}

.centerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftMenu,
.rightMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

/* .closingItem {
  width: 1% !important;
  display: flex;
  flex: 1 1 auto;
  min-height: 20px;
  background-color: rosybrown;
} */

.navItem {
  font-size: 1.5rem;
  margin: 10px;
}

.navLogo {
  display: flex;
  align-items: center;
}
